 body {
    display: block;
    margin: 0 auto;
     background-color: #f6e8e0;
     width: 720px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 h1{
    text-align: center;
 }

 header {
     background-color: #9a4d76;
     text-align: center;
     color: white;
 }

 img {
    
     display: block;
    margin: 0 auto;
     width: 280px;
    background-image: linear-gradient(to bottom, rgb(146, 206, 255), rgb(192, 255, 246));
    border: #e8d282 solid 20px;
    border-radius: 10px;
     
 }

 #clarice-container{
    display: block;
    margin: 0 auto;
     width: 280px;
 }

 .toolbar{
    display: flex;
    justify-content: space-around;
    
 }

 button{
    margin:5px;
    background-color: #f7f3b7;
    font-size: 24px;
    border-radius: 24px;
    padding: 10px;
    border: solid #fa6e79 10px;

    box-shadow: #efdc96 0px 10px 1px;

    transition: all 0.3s ease-in;
 }

 button:hover{
    box-shadow: #efdc96 0px 5px 1px;
    transform: translateY(5px);
 }

 button:active{
    transform: translateY(10px);
    box-shadow: #efdc96 0px 1px 1px;
    transition: all 0.1s ease-in;
 }

.bounce{
    animation-name: bounce;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sad{
    
 animation-name: sad;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;
}


 @keyframes bounce {
    0%{
        transform: translateY(0px) scaleX(1);
    }
    50%{
        transform: translateY(20px) scaleX(1.1);
    }
 }

 @keyframes sad {

    0%{
        transform: scaleX(1) scaleY(1);
    }

    50%{
        transform: scaleX(1.1) scaleY(0.95);
    }
    
 }