 body { 
background-color:cornsilk ;
width: 720px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
;

header{
        background-color: peachpuff;}
 img{width: 280px;}
        
    
